.wrapper{
    color: var(--color-3);
    margin: 200px 10%;
    padding: 0;
    img{
        margin-top: -40px;
        margin-left: 0;
    }
 
}
h2{
    font-size: 3rem;
    color: var(--color-3);
    margin-bottom: 50px;
}
p{
    color: var(--color-3);
    font-weight: bold;
    justify-content: right;
}
.colu{
    
  
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
    
    span{
        border:2px solid var(--color-2);
        padding: 4px 10px;
        border-radius: 4px;
    }
}
ul{
    padding: 0;
    justify-content: center;
    
}

.hv{
    color: white;
    background-color: var(--color-2);
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 20px;
}

@media screen and (max-width: 500px){
 

    .wrapper{
       
        text-align: center;
        flex-direction: column;
       width: 100%;
        padding: 0;
        margin: 100px 0;
            
        img{
            max-width: 300px;
            align-content: center;
        }
        
    }
    
}

