
<div class="wrapper d-flex flex-wrap">
    <div class="col-sm-12 col-lg-6">
        <img src="/assets/aboutme.png" alt="foto">

    </div>
    <div class="col-sm-12 col-lg-6 col-md-12">
        <h2>Acerca de mí</h2>
        <p>
            Hola, soy Leo, desarrollador web e Ingeniero electrónico en formación ubicado en Medellín Colombia. 
            Soy una persona apasionada por la tecnología y el desarrollo, me gusta estar en constante aprendizaje para desarrollar nuevas habilidades cada día.
            Tengo experiencia en el desarrollo web y aplicaciones móviles.
            
            Además, cuento con  competencias en el Diseño y construcción de máquinas para automatización de procesos industriales.
            
        </p>
        <ul class="lenguages d-flex flex-wrap">
            <li class="colu"><span> HTML</span></li>
            <li class="colu"><span>CSS</span></li>
            <li class="colu"><span>JavaScript</span></li>
            <li class="colu"><span>Angular</span></li>
            <li class="colu"><span>Android Studio</span></li>
            <li class="colu"> <span>Kotlin</span></li>
            <li class="colu"><span>python</span></li>
            <li class="colu"> <span>C++</span></li>
            <li class="colu"> <span>Arduino</span></li>
            <li class="colu"><span>SCL</span></li>
            <li class="colu"><span>AWL</span></li>
        </ul>
        <div class="hv">Descargar CV</div>
    </div>

</div>
