
<div class="wrapper d-flex flex-wrap">
    
        <div class="col-sm-12 col-lg-6" >
            <div class="pre-title"><span>Hola, soy</span></div>
            <h1 class="title">Leo Fuentes</h1>
            <h2 class="sub-title">Desarrollador Web </h2>
            <div>
                <nav>
                    <i class="uil uil-envelope"></i>
                    <a href="mailto:">leonardo.fuentes@udea.edu.co</a>
                </nav>  
                <nav>
                    <i class="uil uil-phone"></i>
                    <a href="mailto:">+57 3138256074</a>
                </nav>
            </div>  
            <div>
                
                <a href="https://github.com/leofu99" target="_blank">
                    <i class="uil uil-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/-leonardo-fuentes-bohorquez/" target="_blank">
                    <i class="uil uil-linkedin"></i>
                </a>
                
            </div>
        </div>
        <div class = "col-sm-12 col-lg-6">
            <img src="/assets/foto.jpg" alt="foto">
        </div>
       

    


</div>