.wrapper{
    padding: 2rem 0rem;
    color: var(--color-3);
    margin: 150px 10%;
    align-items: center;
    width: 100%;
    
    
}
.title{
    font-size: 4rem;
}
h1,h2{
    margin: 0;
}

.pre-title{
    padding: 1rem 0;
    
  
    
}

.sub-title{
    padding: 0.5rem 0;
}

.description{

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.1rem;
justify-content:first baseline;}


span{
    background-color:var(--color-2);
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    color: white;


}
a{
    text-decoration: none;
    color:var(--color-3);
    font-size: 1.2rem;
    margin-left: 10px;
    i{
        padding:4px 4px;
        margin:0 10px;
        font-size: 2rem;
        &:hover{
            color: var(--color-2);
            background-color: var(--color-3);
            border-radius: 5px;
        }
    }
}
i{
    height: 2rem;
    width: auto;
    font-weight: bold;
    color:var(--color-3); 
    
}

nav{
    margin: 10px 0;

    i{
        font-size: 1.5rem;
        font-weight:5px;
    }
    &:hover{
        i{
            color: var(--color-2);
        }

    }
}
img{
    width:400px ;
    border-radius: 20%;
}


@media screen and (max-width: 500px){
 

    .wrapper{
        margin: 150px 0;
        text-align: center;
        flex-direction: column;
       
        
        
    }
    
}